.fm-container {
    width:100%;
    position: relative;
    background-color: #337ab7;
    font-family: Arial, Helvetica, sans-serif;
}

.fm-container > ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.fm-container > ul > li {
    display: block;
    padding: 0;

}

.fm-container > ul > li > a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}

.fm-container > ul > li > a:link, .fm-container > ul > li > a:visited {
    color: white;
}

.fm-container > ul > li > a:hover, .fm-container > ul > li > a:active {
    color: #337ab7;
    background-color: aliceblue;
}

/*
=================================================================================
Adding this class to the element is done through:
[rootHoverClass]="'root-hover-class'"
This allows the hover look to persist when mouse enters the associated menu panel
=================================================================================
*/
.root-hover-class {
    color: #337ab7 !important;
    background-color: aliceblue;
}
/*
=================================================================================
*/

.show-panel {
    position: absolute;
    top: 0;
    left:100%;
    padding:12px;
    width:700px;
    background-color: aliceblue;
    z-index: 100;
    display: none;
}

.show-panel ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.ul-level1 {

}

.p-level2 {

}

.ul-level3 {

}

.ul-level3 > li {
    font-size: 12px;
}

