/*flat-menu*/
.fm-container {
    width:100%;
    position: relative;
    background-color: #337ab7;
    font-family: Arial, Helvetica, sans-serif;
}

.fm-container > ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.fm-container > ul > li {
    display: block;
    padding: 0;

}

.fm-container > ul > li > a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid #337ab7;
}

.fm-container > ul > li > a:link, .fm-container > ul > li > a:visited {
    color: white;
}

.fm-container > ul > li > a:hover, .fm-container > ul > li > a:active {
    color: #337ab7;
    background-color: aliceblue;
}

/*
=================================================================================
Adding this class to the element is done through:
[rootHoverClass]="'root-hover-class'"
This allows the hover look to persist when mouse enters the associated menu panel
=================================================================================
*/
.root-hover-class {
    color: #337ab7 !important;
    background-color: aliceblue;
    border: 1px solid #337ab7;
    z-index: 200;
}
/*
=================================================================================
*/

.show-panel {
    position: absolute;
    top: 0;
    left:100%;
    padding: 16px;
    width:700px;
    background-color: aliceblue;
    z-index: 100;
    display: none;
    border: solid 1px #337ab7;
    margin-left: -1px;
}

.show-panel ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.ul-level1 {

}

.p-level2 {

}

.ul-level3 {
    margin-left: 42px !important;
}

.ul-level3 > li {
    font-size: 12px;
}

.menu-image {
    max-height: 32px;
    max-width: 32px;
    margin-right: 10px;
}

/*
=================================================================================
harmonica-menu
=================================================================================
*/

.fm-container-harmonica {
    width:100%;
    position: relative;
    background-color: #337ab7;
    font-family: Arial, Helvetica, sans-serif;
}

.fm-container-harmonica > ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.fm-container-harmonica > ul > li {
    display: block;
    padding: 0;

}

.fm-container-harmonica > ul > li > a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid #337ab7;
}

.fm-container-harmonica > ul > li > a:link,
.fm-container-harmonica > ul > li > a:visited {
    color: white;
}

.fm-container-harmonica > ul > li > a:hover,
.fm-container-harmonica > ul > li > a:active {
    color: #337ab7;
    background-color: aliceblue;
}

.har-level1 {

}

.har-level2 {
    list-style-type: none;
    background-color: #d8e7f5;
    margin: 0;
    padding: 0;
}

.har-level2 > li {

}

.har-level2 > li > div {

}

.har-level2 > li > div > a {
    display: block;
    padding: 6px 12px;
}

.har-level3 {
    list-style-type: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.har-level3 > li > div {

}

.har-level3 > li > div > a {
    padding: 6px 24px;
}
